body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #46a1ff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.signup-container h2 {
    color: #BBE2EC;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.signup-container button {
    background-color: white;
    color: #46a1ff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    flex-grow: 1;
    margin-right: 5px;
}

.login-link {
    background-color: white;
    color: #46a1ff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.signup-container button:hover,
.login-link:hover {
    background-color: #ffffffcc;
}
